{% if advanced.dockerfile %}

# ---------------------------------------------------------------------------
# Extra instructions from the app spec (advanced.dockerfile)
# ---------------------------------------------------------------------------
{{ advanced.dockerfile }}
{% endif %}
