#!/usr/bin/env bash

# send all output to pod.log
exec &> >(tee -a "${LOG_DIR}/pod.log")

echo "TIMING - Starting main script at: $(date)"

# Set working directory to home directory
cd "${HOME}"

set -x
{% include "snippets/session-start.sh.j2" %}

CODE_SERVER_DATAROOT="${HOME}/.local/share/code-server"
mkdir -p "${CODE_SERVER_DATAROOT}/extensions"

# the folder VS Code opens
WORKSPACE="${HOME}{% if start_dir %}/{{ start_dir }}{% endif %}"
[ -d "${WORKSPACE}" ] || WORKSPACE="${HOME}"

echo "TIMING - Starting code-server at: $(date)"

code-server \
    --auth="password" \
    --bind-addr="0.0.0.0:8443" \
    --disable-telemetry \
    --user-data-dir="${CODE_SERVER_DATAROOT}" \
    --extensions-dir="${CODE_SERVER_DATAROOT}/extensions" \
    --log debug \
    "${WORKSPACE}"
